In [2]:
%load_ext google.cloud.bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="D:\D DOWNLOADs\DOCUMENTATION\GoogleCloudServices\Analytics Bootcamp Rice U-e975bbd03fde.json"
import datetime

In [2]:
%%bigquery lightning_data_complete --verbose
SELECT 2001,2002 FROM `bigquery-public-data.*`

Executing query with job ID: c24a29aa-2b78-4768-a5bb-2a0200bbecf6
Query executing: 22.80s
Query complete after 23.25s

In [ ]:
lightning_data_complete

In [8]:
import pandas as pd
df=pd.DataFrame(lightning_data_complete)

In [9]:
df

                 day  number_of_strikes        center_point
0         2008-03-03                  5   POINT(-93.5 33.2)
1         2008-03-03                  5   POINT(-92.1 32.9)
2         2008-03-03                  5   POINT(-96.5 38.1)
3         2008-03-03                  5   POINT(-90.9 42.6)
4         2008-03-03                  5   POINT(-95.8 37.5)
5         2008-03-03                  5     POINT(-90.2 36)
6         2008-03-03                  5   POINT(-91.3 35.9)
7         2008-03-03                  5   POINT(-92.6 36.4)
8         2008-03-03                  5   POINT(-92.2 29.9)
9         2008-03-03                  5   POINT(-86.7 47.4)
10        2008-03-03                  5     POINT(-95.8 36)
11        2008-03-03                  5  POINT(-100.7 31.1)
12        2008-03-03                  5   POINT(-88.6 35.5)
13        2008-03-03                  5   POINT(-99.5 32.7)
14        2008-03-04                  5     POINT(-89 29.5)
15        2008-03-04                  5   POINT(-87.5 26.7)
16        2008-03-04                  5   POINT(-91.7 29.9)
17        2008-03-04                  5   POINT(-88.8 28.3)
18        2008-03-04                  5   POINT(-87.2 31.6)
19        2008-03-04                  5   POINT(-86.4 32.7)
20        2008-03-04                  5   POINT(-88.1 32.6)
21        2008-03-04                  5   POINT(-87.1 29.2)
22        2008-03-04                  5     POINT(-83.4 37)
23        2008-03-04                  5   POINT(-92.3 28.8)
24        2008-03-04                  5     POINT(-83 37.3)
25        2008-03-04                  5   POINT(-87.4 33.7)
26        2008-03-04                  5   POINT(-89.4 38.1)
27        2008-03-04                  5   POINT(-91.7 31.3)
28        2008-03-04                  5   POINT(-87.5 33.3)
29        2008-03-04                  5     POINT(-84.7 27)
...              ...                ...                 ...
29276171  2005-08-25                  1   POINT(-60.4 44.9)
29276172  2005-08-25                  1     POINT(-94 47.6)
29276173  2005-08-25                  1  POINT(-106.1 39.7)
29276174  2005-08-25                  1  POINT(-113.3 36.7)
29276175  2005-08-25                  1   POINT(-83.6 22.3)
29276176  2005-08-25                  1  POINT(-105.4 41.7)
29276177  2005-08-25                  1   POINT(-75.6 29.7)
29276178  2005-08-25                  1   POINT(-92.2 35.9)
29276179  2005-08-25                  1  POINT(-100.9 25.5)
29276180  2005-08-25                  1   POINT(-83.1 22.7)
29276181  2005-08-25                  1   POINT(-88.4 31.6)
29276182  2005-08-25                  1  POINT(-101.5 36.3)
29276183  2005-08-25                  1   POINT(-94.3 30.5)
29276184  2005-08-25                  1   POINT(-73.2 32.8)
29276185  2005-08-25                  1  POINT(-107.6 30.6)
29276186  2005-08-25                  1  POINT(-106.7 27.9)
29276187  2005-08-25                  1  POINT(-114.2 35.9)
29276188  2005-08-25                  1  POINT(-108.1 40.9)
29276189  2005-08-25                  1  POINT(-101.4 46.5)
29276190  2005-08-25                  1   POINT(-98.8 49.1)
29276191  2005-08-25                  1   POINT(-84.6 25.6)
29276192  2005-08-25                  1   POINT(-91.2 40.5)
29276193  2005-08-25                  1   POINT(-89.7 38.7)
29276194  2005-08-25                  1   POINT(-96.8 23.8)
29276195  2005-08-25                  1   POINT(-81.7 23.1)
29276196  2005-08-25                  1  POINT(-109.9 27.9)
29276197  2005-08-25                  1    POINT(-109 30.6)
29276198  2005-08-25                  1  POINT(-107.2 29.6)
29276199  2005-08-25                  1   POINT(-91.8 31.8)
29276200  2005-08-25                  1     POINT(-94.1 35)

[29276201 rows x 3 columns]

In [10]:
import csv

export_csv=df.to_csv("2006_to_2008_data.csv", index=False, header=True)

NameError: name 'lightning_data_complete' is not defined

In [25]:
lightning_data_complete.tail()

                 day  number_of_strikes       center_point
94501769  2014-04-29                  1  POINT(-80.8 27.1)
94501770  2014-04-29                  1  POINT(-83.7 41.3)
94501771  2014-04-29                  1    POINT(-80.8 36)
94501772  2014-04-29                  1  POINT(-88.9 39.3)
94501773  2014-04-29                  1    POINT(-78 36.6)