In [2]:
%load_ext google.cloud.bigquery
%matplotlib inline
# Dependencies
import os
import requests
import json
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime

# data = pd.read_csv("complete_data.csv")
# data.head()


# Google API Key
# from config import gkey
# from config import os.environ
# os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="D:\D DOWNLOADs\DOCUMENTATION\GoogleCloudServices\Analytics Bootcamp Rice U-e975bbd03fde.json"

          day  number_of_strikes       center_point
0  2019-07-03                  1  POINT(-87.2 32.4)
1  2019-07-03                  1  POINT(-82.7 32.4)
2  2019-07-03                  1  POINT(-89.8 32.5)
3  2019-07-03                  1    POINT(-89 32.5)
4  2019-07-03                  1  POINT(-84.7 32.5)

In [ ]:
datetmp=data.day.str.replace("-"," ")
month=datetmp.str.split(" ",expand=True)[0]
day=datetmp.str.split(" ",expand=True)[1]
year=datetmp.str.split(" ",expand=True)[2]

loctmp=data.center_point.str.replace("POINT\(","")
loctmp=loctmp.str.replace("\)","")
latitude=loctmp.str.split(" ",expand=True)[0]
longitude=loctmp.str.split(" ",expand=True)[1]

strikes=data.number_of_strikes

In [ ]:
data['Year']=year.astype(float)
data['Month']=month.astype(float)
data['Day']=day.astype(float)
data['Latitude']=latitude.astype(float)
data['Longitude']=longitude.astype(float)
data['LatitudeR']=latitude.astype(float).round(0)
data['LongitudeR']=longitude.astype(float).round(0)
data['Strikes']=strikes

In [ ]:
data.to_csv("1987_mod.csv", index=False, header=True) 
data.head()
# print (data.dtypes)

In [27]:
%%bigquery data --verbose
SELECT * FROM `bigquery-public-data.noaa_lightning.lightning_2011`

Executing query with job ID: 88b238ce-be4c-4f20-a5b6-381c57e08b86
Query executing: 0.80s
Query complete after 1.10s

In [28]:
data

                day  number_of_strikes        center_point
0        2011-01-01                 33   POINT(-87.5 34.3)
1        2011-01-01                 33   POINT(-88.5 34.4)
2        2011-01-01                 57   POINT(-87.5 34.5)
3        2011-01-01                 53   POINT(-88.9 32.8)
4        2011-01-01                 27   POINT(-88.1 34.1)
5        2011-01-01                 36   POINT(-89.6 33.4)
6        2011-01-01                 89   POINT(-89.1 33.5)
7        2011-01-01                 37   POINT(-89.7 33.1)
8        2011-01-01                 33   POINT(-87.5 29.2)
9        2011-01-01                 27   POINT(-92.1 32.4)
10       2011-01-01                 31   POINT(-87.3 33.7)
11       2011-01-01                 35   POINT(-87.8 33.9)
12       2011-01-01                 30   POINT(-92.3 26.4)
13       2011-01-01                 69   POINT(-89.2 32.7)
14       2011-01-01                 72   POINT(-90.4 32.9)
15       2011-01-01                 28   POINT(-88.8 34.2)
16       2011-01-01                 44   POINT(-87.3 29.3)
17       2011-01-01                 28   POINT(-86.8 34.7)
18       2011-01-01                 46   POINT(-90.6 32.8)
19       2011-01-01                 25     POINT(-90.5 27)
20       2011-01-01                 59   POINT(-89.1 32.8)
21       2011-01-01                 50   POINT(-89.2 33.9)
22       2011-01-01                 26   POINT(-88.6 33.9)
23       2011-01-01                 38   POINT(-86.9 29.9)
24       2011-01-01                 35     POINT(-88.5 33)
25       2011-01-01                 46   POINT(-91.8 32.4)
26       2011-01-01                 42   POINT(-90.7 33.1)
27       2011-01-01                 25   POINT(-91.8 27.7)
28       2011-01-01                 32   POINT(-88.3 33.1)
29       2011-01-01                 29     POINT(-92 32.2)
...             ...                ...                 ...
2891319  2011-11-21                 24     POINT(-99 35.1)
2891320  2011-11-21                 24   POINT(-87.1 37.7)
2891321  2011-11-21                 24  POINT(-101.8 33.7)
2891322  2011-11-21                 24   POINT(-95.1 33.2)
2891323  2011-11-21                 24   POINT(-93.5 36.8)
2891324  2011-11-21                 24   POINT(-91.6 36.8)
2891325  2011-11-21                 24   POINT(-93.8 34.3)
2891326  2011-11-21                 24   POINT(-92.8 34.9)
2891327  2011-11-21                 24   POINT(-87.4 37.1)
2891328  2011-11-21                 24     POINT(-90 37.2)
2891329  2011-11-21                 24   POINT(-89.4 37.2)
2891330  2011-11-21                 24  POINT(-108.9 32.3)
2891331  2011-11-21                 24     POINT(-97.9 34)
2891332  2011-11-21                 24   POINT(-87.6 35.4)
2891333  2011-11-21                 24       POINT(-95 36)
2891334  2011-11-21                 24   POINT(-91.6 34.1)
2891335  2011-11-21                 24     POINT(-99 32.5)
2891336  2011-11-21                 24   POINT(-87.3 36.6)
2891337  2011-11-21                 24   POINT(-89.1 35.6)
2891338  2011-11-21                 24   POINT(-89.9 37.2)
2891339  2011-11-21                 24   POINT(-96.4 33.8)
2891340  2011-11-21                 24     POINT(-90.6 35)
2891341  2011-11-21                 24     POINT(-90.6 37)
2891342  2011-12-05                 24   POINT(-99.8 29.8)
2891343  2011-12-15                 24   POINT(-96.3 33.7)
2891344  2011-12-15                 24     POINT(-92.1 38)
2891345  2011-12-15                 24   POINT(-93.3 36.4)
2891346  2011-12-21                 24   POINT(-86.4 29.2)
2891347  2011-12-21                 24   POINT(-86.3 28.9)
2891348  2011-12-31                 24   POINT(-72.7 37.1)

[2891349 rows x 3 columns]

In [30]:
export_csv=data.to_csv("2011_data.csv", index=False, header=True)


* See the [Google Geocoding Documentation](https://developers.google.com/maps/documentation/geocoding/intro)

* See the [Google Places Documentation](https://developers.google.com/maps/documentation/javascript/places#place_search_requests)

* See the [Capping Queries](../../../Supplemental/Capping_Queries.md) document to set usage limits on your API calls.

https://github.com/googlemaps/google-maps-services-python.git

In [31]:
# Load packages
from pygeocoder import Geocoder
import pandas as pd
import numpy as np
import gmaps
from config import gkey

gmaps.configure(api_key=gkey)

In [12]:
# Create two lists for the loop results to be placed

coord = []
point = []
# For each row in a varible,
for row in data['center_point']:
    # Try to,
    try:
        # Split the row by comma, convert to float, and append
        # everything before the open paren to point
        point.append(row.split('(')[0])
        # Split the row by comma, convert to float, and append
        # everything after the open paren to coord
        coord.append(row.split('(')[1])
    # But if you get an error
    except:
        # append a missing value to lat
        point.append(np.NaN)
        # append a missing value to lon
        coord.append(np.NaN)


lat = []
lon =[]

# For each row in a varible,
for row in coord[0]:
    # Try to,
    try:
        # Split the row by comma, convert to float, and append
        # everything before the space to lat
        lat.append(float(row.split(' ')[0]))
        # Split the row by comma, convert to float, and append
        # everything after the space to lon
        lon.append(float(row.split(' ')[1]))
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)
        
# Create two new columns from lat and lon
data['point'] = point
data['coord'] = coord
data['latitude'] = lat
data['longitude'] = lon

ValueError: Length of values does not match length of index

In [11]:
data

                day  number_of_strikes       center_point  point        coord
0        2013-01-05                 31  POINT(-94.8 25.6)  POINT  -94.8 25.6)
1        2013-01-05                 23  POINT(-94.7 25.6)  POINT  -94.7 25.6)
2        2013-01-06                 23  POINT(-89.5 25.5)  POINT  -89.5 25.5)
3        2013-01-06                 37  POINT(-91.9 24.5)  POINT  -91.9 24.5)
4        2013-01-06                 34  POINT(-93.6 25.4)  POINT  -93.6 25.4)
5        2013-01-06                 43  POINT(-93.2 23.8)  POINT  -93.2 23.8)
6        2013-01-06                 60  POINT(-93.9 25.5)  POINT  -93.9 25.5)
7        2013-01-06                 57  POINT(-93.6 23.8)  POINT  -93.6 23.8)
8        2013-01-06                 35  POINT(-93.4 23.8)  POINT  -93.4 23.8)
9        2013-01-06                 24  POINT(-93.3 23.6)  POINT  -93.3 23.6)
10       2013-01-06                 26  POINT(-94.7 24.4)  POINT  -94.7 24.4)
11       2013-01-06                 26    POINT(-93 23.6)  POINT    -93 23.6)
12       2013-01-06                 39  POINT(-93.3 23.7)  POINT  -93.3 23.7)
13       2013-01-06                 39  POINT(-91.9 24.6)  POINT  -91.9 24.6)
14       2013-01-06                 32  POINT(-94.1 25.4)  POINT  -94.1 25.4)
15       2013-01-06                 25  POINT(-93.9 24.9)  POINT  -93.9 24.9)
16       2013-01-06                 24    POINT(-93 23.7)  POINT    -93 23.7)
17       2013-01-06                 65  POINT(-93.6 25.5)  POINT  -93.6 25.5)
18       2013-01-06                 33  POINT(-91.8 24.6)  POINT  -91.8 24.6)
19       2013-01-06                 37  POINT(-93.2 23.6)  POINT  -93.2 23.6)
20       2013-01-06                 42  POINT(-93.3 23.8)  POINT  -93.3 23.8)
21       2013-01-06                 24  POINT(-94.1 25.5)  POINT  -94.1 25.5)
22       2013-01-06                 24  POINT(-93.3 25.2)  POINT  -93.3 25.2)
23       2013-01-06                 23  POINT(-93.8 24.4)  POINT  -93.8 24.4)
24       2013-01-06                 31  POINT(-93.6 23.7)  POINT  -93.6 23.7)
25       2013-01-06                 32  POINT(-89.3 25.7)  POINT  -89.3 25.7)
26       2013-01-06                 35  POINT(-93.1 23.6)  POINT  -93.1 23.6)
27       2013-01-06                 75  POINT(-93.8 25.5)  POINT  -93.8 25.5)
28       2013-01-06                 38  POINT(-93.5 23.8)  POINT  -93.5 23.8)
29       2013-01-06                 37    POINT(-94 25.5)  POINT    -94 25.5)
...             ...                ...                ...    ...          ...
3027771  2013-12-22                 22  POINT(-87.5 31.7)  POINT  -87.5 31.7)
3027772  2013-12-22                 22  POINT(-87.5 33.2)  POINT  -87.5 33.2)
3027773  2013-12-22                 22  POINT(-93.1 27.6)  POINT  -93.1 27.6)
3027774  2013-12-22                 22  POINT(-89.7 29.9)  POINT  -89.7 29.9)
3027775  2013-12-22                 22    POINT(-88.8 31)  POINT    -88.8 31)
3027776  2013-12-22                 22  POINT(-88.7 30.7)  POINT  -88.7 30.7)
3027777  2013-12-22                 22  POINT(-87.5 31.3)  POINT  -87.5 31.3)
3027778  2013-12-22                 22  POINT(-87.7 32.1)  POINT  -87.7 32.1)
3027779  2013-12-22                 22  POINT(-87.2 36.5)  POINT  -87.2 36.5)
3027780  2013-12-22                 22    POINT(-89.4 33)  POINT    -89.4 33)
3027781  2013-12-22                 22  POINT(-91.9 28.8)  POINT  -91.9 28.8)
3027782  2013-12-23                 22  POINT(-91.1 24.5)  POINT  -91.1 24.5)
3027783  2013-12-23                 22    POINT(-88.3 28)  POINT    -88.3 28)
3027784  2013-12-23                 22  POINT(-89.5 26.7)  POINT  -89.5 26.7)
3027785  2013-12-23                 22  POINT(-94.4 21.1)  POINT  -94.4 21.1)
3027786  2013-12-23                 22  POINT(-94.2 20.7)  POINT  -94.2 20.7)
3027787  2013-12-23                 22  POINT(-87.9 28.5)  POINT  -87.9 28.5)
3027788  2013-12-23                 22    POINT(-88 27.9)  POINT    -88 27.9)
3027789  2013-12-23                 22  POINT(-89.5 26.9)  POINT  -89.5 26.9)
3027790  2013-12-23                 22    POINT(-88.2 28)  POINT    -88.2 28)
3027791  2013-12-26                 22  POINT(-86.2 23.7)  POINT  -86.2 23.7)
3027792  2013-12-28                 22      POINT(-86 25)  POINT      -86 25)
3027793  2013-12-28                 22    POINT(-86 24.2)  POINT    -86 24.2)
3027794  2013-12-28                 22    POINT(-87 24.8)  POINT    -87 24.8)
3027795  2013-12-28                 22  POINT(-85.8 24.2)  POINT  -85.8 24.2)
3027796  2013-12-28                 22    POINT(-87 24.9)  POINT    -87 24.9)
3027797  2013-12-28                 22    POINT(-86.1 25)  POINT    -86.1 25)
3027798  2013-12-29                 22  POINT(-79.9 28.6)  POINT  -79.9 28.6)
3027799  2013-12-30                 22  POINT(-78.3 29.5)  POINT  -78.3 29.5)
3027800  2013-12-30                 22    POINT(-78 29.6)  POINT    -78 29.6)

[3027801 rows x 5 columns]

In [ ]:
lat = []
lon =[]

# For each row in a varible,
for row in data['coord']:
    # Try to,
    try:
        # Split the row by comma, convert to float, and append
        # everything before the space to lat
        lat.append(float(row.split(' ')[0]))
        # Split the row by comma, convert to float, and append
        # everything after the space to lon
        lon.append(float(row.split(' ')[1]))
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
data['latitude'] = lat
data['longitude'] = lon

In [ ]:
data.head

In [ ]:

new_york_coordinates = (40.75, -74.00)
gmaps.figure(center=new_york_coordinates, zoom_level=12)

In [ ]:
data

In [ ]:
data.index=data['day'].

In [ ]:
data.head(20)

In [ ]:
%matplotlib notebook
import matplotlib.pyplot as plt

data.plot.scatter(data.index, point, marker='.', facecolors="blue", edgecolors="blue")
# plt.savefig("output_data/wind_sbpeed_v_Latitude.png")
plt.show()

In [ ]:
point=data['center_point']
number=data['number_of_strikes']
day= data['day']

In [ ]:
fig = plt.figure()
fig1=plt.scatter(day, point, marker='.', facecolors="blue", edgecolors="blue", size="number")
# Set the upper and lower limits of our y axis
plt.ylim(0,120)
# Set the upper and lower limits of our x axis
plt.xlim(-80,100)
# Create a title, x label, and y label for our chart
plt.title("Location vs Strikes")

plt.xlabel("location")
plt.ylabel("Number of Strikes")

# Save an image of the chart and print to screen
# NOTE: If your plot shrinks after saving an image,
# update matplotlib to 2.2 or higher,
# or simply run the above cells again.
plt.savefig("table1")
plt.show()