In [1]:
%load_ext google.cloud.bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="D:\D DOWNLOADs\DOCUMENTATION\GoogleCloudServices\Analytics Bootcamp Rice U-e975bbd03fde.json"

In [30]:
%%bigquery data --verbose
SELECT * FROM `bigquery-public-data.noaa_lightning.lightning_2015`

Executing query with job ID: 4d1b4944-3384-40f8-ae9c-ffdb12449cf2
Query executing: 16.11s
Query complete after 18.40s

In [31]:
data.head()

          day  number_of_strikes        center_point
0  2015-01-02                 24   POINT(-98.1 32.3)
1  2015-01-02                 28  POINT(-106.1 25.2)
2  2015-01-02                 25  POINT(-106.3 25.1)
3  2015-01-02                 44  POINT(-106.1 25.1)
4  2015-01-02                 25   POINT(-92.8 32.2)

In [32]:
import csv

export_csv=data.to_csv("2015_data.csv", index=False, header=True)

In [30]:
lightning_data_complete.info

<bound method DataFrame.info of                  day  number_of_strikes        center_point
0         2019-07-03                  1   POINT(-87.2 32.4)
1         2019-07-03                  1   POINT(-82.7 32.4)
2         2019-07-03                  1   POINT(-89.8 32.5)
3         2019-07-03                  1     POINT(-89 32.5)
4         2019-07-03                  1   POINT(-84.7 32.5)
5         2019-07-03                  1   POINT(-99.8 32.7)
6         2019-07-03                  1   POINT(-95.7 32.7)
7         2019-07-03                  1   POINT(-93.7 32.7)
8         2019-07-03                  1   POINT(-79.7 32.8)
9         2019-07-03                  1   POINT(-91.6 32.9)
10        2019-07-03                  1     POINT(-93.4 33)
11        2019-07-03                  1  POINT(-100.5 33.1)
12        2019-07-03                  1   POINT(-88.6 33.2)
13        2019-07-03                  1  POINT(-105.5 33.3)
14        2019-07-03                  1  POINT(-104.5 33.6)
15        2019-07-03                  1   POINT(-87.4 33.6)
16        2019-07-03                  1   POINT(-80.1 33.6)
17        2019-07-03                  1     POINT(-77.3 34)
18        2019-07-03                  1   POINT(-77.2 34.1)
19        2019-07-03                  1   POINT(-78.9 34.2)
20        2019-07-03                  1  POINT(-104.8 34.3)
21        2019-07-03                  1   POINT(-76.9 34.3)
22        2019-07-03                  1   POINT(-89.7 34.4)
23        2019-07-03                  1   POINT(-86.9 34.4)
24        2019-07-03                  1   POINT(-82.5 34.4)
25        2019-07-03                  1   POINT(-98.2 34.5)
26        2019-07-03                  1   POINT(-78.6 34.6)
27        2019-07-03                  1   POINT(-83.1 34.8)
28        2019-07-03                  1   POINT(-78.7 34.9)
29        2019-07-03                  1  POINT(-100.3 35.1)
...              ...                ...                 ...
94501744  2014-04-28                  1     POINT(-87.9 39)
94501745  2014-04-28                  1     POINT(-85 35.8)
94501746  2014-04-28                  1   POINT(-89.2 40.3)
94501747  2014-04-28                  1   POINT(-84.1 40.3)
94501748  2014-04-28                  1     POINT(-96 44.4)
94501749  2014-04-28                  1   POINT(-90.1 31.4)
94501750  2014-04-28                  1   POINT(-89.6 38.7)
94501751  2014-04-28                  1     POINT(-97 44.8)
94501752  2014-04-28                  1   POINT(-94.2 43.7)
94501753  2014-04-28                  1    POINT(-116.9 48)
94501754  2014-04-28                  1   POINT(-94.7 42.6)
94501755  2014-04-28                  1    POINT(-116.8 47)
94501756  2014-04-28                  1   POINT(-82.5 40.8)
94501757  2014-04-29                  1   POINT(-78.4 23.9)
94501758  2014-04-29                  1   POINT(-82.2 20.8)
94501759  2014-04-29                  1   POINT(-82.5 30.8)
94501760  2014-04-29                  1   POINT(-87.7 42.7)
94501761  2014-04-29                  1   POINT(-82.2 39.1)
94501762  2014-04-29                  1   POINT(-81.8 36.3)
94501763  2014-04-29                  1   POINT(-85.9 42.5)
94501764  2014-04-29                  1     POINT(-83.9 37)
94501765  2014-04-29                  1   POINT(-85.8 43.7)
94501766  2014-04-29                  1   POINT(-83.6 29.8)
94501767  2014-04-29                  1   POINT(-86.7 35.4)
94501768  2014-04-29                  1   POINT(-84.3 34.3)
94501769  2014-04-29                  1   POINT(-80.8 27.1)
94501770  2014-04-29                  1   POINT(-83.7 41.3)
94501771  2014-04-29                  1     POINT(-80.8 36)
94501772  2014-04-29                  1   POINT(-88.9 39.3)
94501773  2014-04-29                  1     POINT(-78 36.6)

[94501774 rows x 3 columns]>

In [25]:
lightning_data_complete.tail()

                 day  number_of_strikes       center_point
94501769  2014-04-29                  1  POINT(-80.8 27.1)
94501770  2014-04-29                  1  POINT(-83.7 41.3)
94501771  2014-04-29                  1    POINT(-80.8 36)
94501772  2014-04-29                  1  POINT(-88.9 39.3)
94501773  2014-04-29                  1    POINT(-78 36.6)