In [1]:
# Import Dependencies
%matplotlib inline

import json
import requests
import pandas as pd
import numpy as np
from config import api_key
from census import Census
import gmaps
import time
# from us import states

import matplotlib.pyplot as plt
import os
newList = []
filename = []

path = os.path.join('.')

# Read our Data file with the pandas library

# with os.scandir(path) as it:
#     for entry in it:
#         if entry.name.endswith(".csv") and entry.is_file():
#             filename.append(entry.name)

filename = ['1992_mod.csv'] #,'1993_mod.csv','1994_mod.csv']

for file in filename:
    data = pd.read_csv(file)
    data.columns = ['day', 'number_of_strikes', 'center_point', 'Day', 'Year', 'Month','Longitude', 'Latitude', 'LongitudeR', 'LatitudeR', 'Strikes']
    data.drop(columns = ['day','number_of_strikes'],axis=1,inplace=True)
    newList.append(data)

In [2]:
df = pd.concat(newList)
df.drop(columns = ['LongitudeR',"LatitudeR"],axis=1, inplace=True)

In [3]:
from census import Census
import gmaps
import time
from us import states

In [5]:
# Extract Latitude and Longitude from DataFrame
loc=data.center_point.str.extract('(-?\d*\.?\d?) (\d*\.?\d?)')  

# Add latitude and longitude information to original data. And convert the datatype.
data['Latitude']=loc[1].astype(float)
data['Longitude']=loc[0].astype(float)


# Extract unique locations
locates=loc.drop_duplicates()
locates.columns=['Longitude','Latitude']

lon=locates.iloc[0,0]
lat=locates.iloc[0,1]

locates

        Longitude Latitude
0           -96.2     31.5
1           -79.1     31.5
2           -78.9     30.5
3           -77.8     29.7
4           -77.6     29.9
5           -78.4     29.8
6           -91.8     28.8
7           -91.7     28.8
8           -95.6     26.8
9           -95.4     27.1
10          -90.1     29.2
11          -90.5       29
12          -89.5     29.5
13          -91.4     28.4
14          -89.9     29.4
15          -91.3     28.4
16          -88.2     30.2
17          -85.3     29.8
18          -88.3     30.2
19          -88.5     31.1
20          -89.2     29.7
21          -90.5     28.8
22          -88.4     30.2
23          -89.1     29.7
24          -89.4     29.6
25          -88.8     29.9
26          -90.2     29.1
27          -86.7     31.6
28          -84.7     29.2
29          -90.6     28.8
...           ...      ...
2459692    -119.6     46.9
2460718    -122.1     44.1
2464046    -118.5     46.7
2464295    -118.5     46.6
2470121     -70.4     42.6
2479204    -118.7     33.4
2480013    -116.8       36
2492277      -123     48.1
2492327    -122.8     45.8
2507432    -119.8     35.1
2512421    -122.8     39.9
2513237    -119.7     46.9
2526563    -113.8     28.6
2528967    -120.1     34.4
2529040      -120     34.6
2530276    -119.9       35
2534167     -71.1     44.1
2536231    -123.3     43.7
2536236    -123.3     43.5
2548554    -117.5     34.2
2549059    -118.6     33.3
2553680    -117.5       42
2554548    -119.3     41.5
2554896    -121.9     48.1
2559765    -157.8     63.6
2565675    -113.8     28.7
2571944    -122.3     39.3
2573052    -122.1     44.5
2604699    -118.6     46.1
2604755    -118.6     46.3

[143816 rows x 2 columns]

In [10]:
# Extract addresses from GoogleAPI and store in a file
lens=locates.shape[0]
# file1=open('locations.csv',"w")
location = []
mLon = []
mLat = []


for i in range(lens):
    try:
        
        lon=locates.iloc[i,0]
        lat=locates.iloc[i,1]
        url="https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lon+"&key="+api_key
        info=requests.get(url).json()
        address=info['results'][0]["formatted_address"]
#         print ("The latitude is "+lat+ " ;the longitude is "+ lon+ ";the address is "+ address+"\n")
#         file1.write(lon+"\t"+lat+"\t"+address+"\n")
        mLon.append(lon)
        mLat.append(lat)
        location.append(info['results'][0]["formatted_address"])
    except ValueError:
        try:
            next
        except IndexError:
            next

# file1.close()

IndexError: list index out of range

In [12]:
ls = []
ls=[mLat, mLon, location]

for l in ls:
    print(len(l))

1600
1600
1600

In [13]:
# Put data from API response into dictionary for DataFrame
dictionary = {}
dictionary={
    "lng" : mLon, 
    "lat" : mLat, 
    "address" : location
}
# Write DataFrame to CSV 'weather_data_df.csv'
ls=pd.DataFrame(dictionary)
export_csv=ls.to_csv("locations_df.csv", index=False, header=True)
ls.head()
# Read location information
# locations=pd.read_csv("locations.csv",header=None)

# ls.columns=['lng','lat','address']

# check the dimension of locations
print ("The dimension is:", ls.shape)

The dimension is: (1600, 3)

In [14]:
ls=ls.drop_duplicates()

In [15]:
ls.head(3)

     lng   lat                       address
0  -96.2  31.5  Rch Rd, Donie, TX 75838, USA
1  -79.1  31.5                Atlantic Ocean
2  -78.9  30.5                Atlantic Ocean

In [16]:
# Deleted the rows where address is equal to "United States"
ls=ls[ls.address!='United States']
print ("The dimension is:", ls.shape)

The dimension is: (1592, 3)

In [17]:
# Deleted the rows where address is equal to "Atlantic Ocean"
ls=ls[ls.address!='Atlantic Ocean']
print ("The dimension is:", ls.shape)

The dimension is: (1534, 3)

In [18]:
# Deleted the rows where address is equal to "Gulf of Mexico"
ls=ls[ls.address!='Gulf of Mexico']
print ("The dimension is:", ls.shape)

The dimension is: (1225, 3)

In [19]:
ls.dtypes

lng        object
lat        object
address    object
dtype: object

In [20]:
ls['lat']=loc[1].astype(float)
ls['lng']=loc[0].astype(float)

In [21]:
ls.dtypes

lng        float64
lat        float64
address     object
dtype: object

In [22]:
# Merge the two data sets along with latitude and longitude
tmp=pd.merge(ls,data,how='left',left_on=['lat','lng'],right_on=['Latitude','Longitude']) 
# tmp.astype(float)
# Check the dimension of the new dataset
print ("The dimension is ", tmp.shape)

The dimension is  (45889, 12)

In [23]:
tmp=tmp.drop_duplicates()
tmp.head()

,lng,lat,address,center_point,Day,Year,Month,Longitude,Latitude,LongitudeR,LatitudeR,Strikes
0,-96.2,31.5,"Rch Rd, Donie, TX 75838, USA",POINT(-96.2 31.5),2.0,1992.0,1.0,-96.2,31.5,-96.0,32.0,23
1,-96.2,31.5,"Rch Rd, Donie, TX 75838, USA",POINT(-96.2 31.5),22.0,1992.0,6.0,-96.2,31.5,-96.0,32.0,31
2,-96.2,31.5,"Rch Rd, Donie, TX 75838, USA",POINT(-96.2 31.5),3.0,1992.0,9.0,-96.2,31.5,-96.0,32.0,56
3,-96.2,31.5,"Rch Rd, Donie, TX 75838, USA",POINT(-96.2 31.5),16.0,1992.0,10.0,-96.2,31.5,-96.0,32.0,29
4,-96.2,31.5,"Rch Rd, Donie, TX 75838, USA",POINT(-96.2 31.5),9.0,1992.0,3.0,-96.2,31.5,-96.0,32.0,1

In [24]:
tmp.shape

(45889, 12)

In [25]:
tmp.dtypes

lng             float64
lat             float64
address          object
center_point     object
Day             float64
Year            float64
Month           float64
Longitude       float64
Latitude        float64
LongitudeR      float64
LatitudeR       float64
Strikes           int64
dtype: object

In [26]:
# Divide into seasons
spring=tmp[(tmp.Day>='1992-01-01') & (tmp.Day<'1992-04-01')]
summer=tmp[(tmp.Day>='1992-04-01') & (tmp.Day<'1992-07-01')]
fall=tmp[(tmp.Day>='1992-07-01') & (tmp.Day<'1992-10-01')]
winter=tmp[(tmp.Day>='1992-10-01') & (tmp.Day<='1992-12-31')]

TypeError: Invalid comparison between dtype=float64 and str

# Heatmap of Strikes

In [27]:
# Configure gmaps with API key
gmaps.configure(api_key="AIzaSyAEMyR2Sr5a_ZsOsOQQTeuAJzV01suq1sk")

In [28]:
# Store 'Lat' and 'Lng' into  locations 
locations_spring = tmp[["lat", "lng"]].astype(float)

# Convert Strikes to float and store
# HINT: be sure to handle NaN values
strike_spring =tmp["Strikes"].astype(float)

In [31]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations_spring, weights=strike_spring, 
                                 dissipating=False, max_intensity=75,
                                 point_radius = .5)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 1

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Store 'Lat' and 'Lng' into  locations 
locations_summer = summer[["lat", "lng"]].astype(float)

# Convert Strikes to float and store
# HINT: be sure to handle NaN values
strike_summer =summer["number_of_strikes"].astype(float)

NameError: name 'summer' is not defined

In [ ]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations_summer, weights=strike_summer, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 1

fig.add_layer(heat_layer)

fig