In [1]:
import pandas as pd
data = pd.read_csv("1987.csv")
data.head()

        day  number_of_strikes       center_point
0  1/1/1987                 21    POINT(-80.7 26)
1  1/4/1987                 23  POINT(-83.2 28.3)
2  1/5/1987                 40  POINT(-78.9 31.3)
3  1/5/1987                 20  POINT(-79.2 31.4)
4  1/5/1987                 21  POINT(-80.1 31.4)

In [2]:
data.count()

day                  1048575
number_of_strikes    1048575
center_point         1048575
dtype: int64

In [5]:
tmp1=data.center_point.str.replace("POINT\(","")
tmp2=tmp1.str.replace("\)","")
latitude=tmp2.str.split(" ",expand=True)[0]
longitude=tmp2.str.split(" ",expand=True)[1]