In [1]:
import pandas as pd
data = pd.read_csv("1987.csv")
data.head()

        day  number_of_strikes       center_point
0  1/1/1987                 21    POINT(-80.7 26)
1  1/4/1987                 23  POINT(-83.2 28.3)
2  1/5/1987                 40  POINT(-78.9 31.3)
3  1/5/1987                 20  POINT(-79.2 31.4)
4  1/5/1987                 21  POINT(-80.1 31.4)

In [2]:
data.count()

day                  1048575
number_of_strikes    1048575
center_point         1048575
dtype: int64

In [5]:
tmp1=data.center_point.str.replace("POINT\(","")
tmp2=tmp1.str.replace("\)","")
latitude=tmp2.str.split(" ",expand=True)[0]
longitude=tmp2.str.split(" ",expand=True)[1]

In [6]:
print(latitude)

0          -80.7
1          -83.2
2          -78.9
3          -79.2
4          -80.1
5          -79.4
6          -78.8
7            -80
8          -77.4
9            -77
10         -77.2
11         -77.4
12         -91.2
13         -91.6
14         -91.7
15         -76.8
16         -76.1
17         -78.2
18         -76.7
19         -80.4
20           -79
21         -79.2
22           -79
23         -79.1
24         -79.2
25         -79.6
26         -79.1
27         -78.9
28         -86.4
29         -89.8
           ...
1048545    -85.9
1048546    -84.8
1048547    -77.6
1048548    -89.7
1048549    -86.2
1048550    -82.5
1048551      -82
1048552    -79.9
1048553    -87.1
1048554    -89.3
1048555    -83.1
1048556    -84.6
1048557    -79.2
1048558    -77.5
1048559    -86.9
1048560    -78.2
1048561    -85.4
1048562    -80.8
1048563    -75.8
1048564    -87.3
1048565    -85.5
1048566    -88.6
1048567    -76.7
1048568    -83.8
1048569    -78.6
1048570    -86.7
1048571    -86.6
1048572    -84.3
1048573      -81
1048574    -79.8
Name: 0, Length: 1048575, dtype: object